<h1>Dashboard</h1>

<table class="dashbaord">
<% @charts.each do |key, chart| %>
	<tr>		
		<td>
			<span class="title"><%= chart.name %></span>
		</td>
		<td>
			<span class="last"><%= chart.last %></span>
			<div class="average">Avg<br/> <%= chart.mean %></div>		
		</td>
		<td>
			<img src="<%=chart.google_url%>"/>
		</td>
	</tr>
<% end %>
</table>

<hr style="clear:both"/>
<h2>Raw Data</h2>
<ul>
	<% @items.each do |item| %>
	<li><%=item.RecordedAt %> <%= item.TypeKey %> <%=item.Value%></li>
	<% end %>
</ul>